router-outlet{
    display: none;
}
.content-wrapper{
    padding-top: 40px;
    overflow: auto;
    font-size: 14px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: grid;
    grid-template-rows: 1fr 80px;
    height: 100%;
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
   background-color: aqua;
   width:100%;
   height: 40px;
}
.navigation{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.navigation li{
    width: 200px;
    font-size: 1.5rem;
    align-items: center;
}
.navigation a:hover{
color: darkgray;
}
.navigation a{
    text-decoration: none;
    color:black;
}
footer{
    height:80px;
    width: 100%;
    background-color: aqua;
}