<header>
    <ul class="navigation">
        <li> <a [routerLink]="['/projects']" routerLinkActive="router-link-active"> Projects</a></li>
        <li> <a [routerLink]="['/tasks']" routerLinkActive="router-link-active" >Tasks</a></li>
        <li> <a [routerLink]="['/users']" routerLinkActive="router-link-active" >Users</a></li>
        <li> <a [routerLink]="['/teams']" routerLinkActive="router-link-active" >Teams</a></li>
    </ul>
</header>

<div class="content-wrapper">
    
    <router-outlet>
    </router-outlet>
    <footer>
        Footer
    </footer>
</div>
