<table class="projectsTable" >
    <thead>
        <td>ID</td>
        <td>Name</td>
        <td>Team ID</td>
        <td>Author ID</td>
        <td>Description</td>
        <td>Deadline</td>
        <td>Edit</td>
    </thead>
    <tr *ngFor="let proj of projects">
        <td> {{proj.id}}</td>
        <td>{{proj.name}}</td>
        <td>{{proj.teamId}}</td>
        <td>{{proj.authorId}}</td>
        <td>{{proj.description}}</td>
        <td>{{proj.deadline | dateUA}}</td>
        <td> <a routerLink="/projects/edit/{{proj.id}}" >Edit</a></td>
    </tr>
</table>
