.projectsTable{
    margin: 30px;
    overflow: auto;
    font-size: 1.2rem;
    border-style: groove;
    border-collapse: collapse;
}
thead{
    font-weight: 2rem;
    color:gray;
}
thead td:hover{
    color:aqua;
}
td{
    padding: 5px;
    border-style: dotted 2px;
}