<form class="form-wrapp"  #projEdit="ngForm">
    <h1>Edit project</h1>
    <div class="group">
        <div class="labelBlock">
            <label for="idInput">ID</label><input type="number" [(ngModel)]="project.id" name = "id" #id = "ngModel" (input)="unSaved =true">
        </div>
        <div class="labelBlock">
            <label for="nameInput">Name</label> <input type="text" [(ngModel)]="project.name" name="name" #name ="ngModel" (input)="unSaved =true">
        </div>
        <div class="labelBlock">
            <label for="authorInput">Author ID</label> <input type="number" [(ngModel)]="project.authorId" name="authorInput" #authorInput = "ngModel" (input)="unSaved =true">
        </div>
        <div class="labelBlock">
            <label for="teamInput">Team ID</label><input type="number" [(ngModel)]="project.teamId" name="teamInput" #teamInput="ngModel" (input)="unSaved =true">
        </div>
        <div class="labelBlock">
            <label for="descriptInput">Description</label><input type="text" [(ngModel)]="project.description" name="descriptInput" #descriptInput="ngModel" (input)="unSaved =true">
        </div>
        <div class="labelBlock">
            <label for="deadlineInput">Deadline</label><input type="date" [value]="project.deadline | date:'yyyy-MM-dd'" (input)="project.deadline = parseDate($event)" name="deadlineInput" (input)="unSaved =true">
        </div>

        <button type="submit" (click)='saveChanges()'>Submit</button>
    </div>

</form>