.form-wrapp{
    width: 100%;
    padding: 20px;
    display: grid;
    justify-content: center;
}

.labelBlock{
    display: grid;
    grid-template-columns: 30% 70%;
    width: 600px;
    align-items: center;
}
.group{
    display: grid;
    grid-auto-rows: auto;
    justify-content: center;
    width:100%;
}
.group input{
    margin: 10px;
    padding: 5px;
}